---
import Layout from '../layouts/Layout.astro';
---

<Layout title="villadiegocode.">
	<main class="m-auto w-4/5 main-layout p-4">
		
	</main>
</Layout>

<style>
	.main-layout {
		max-width: calc(100% - 2rem);
	}
</style>
