---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Card from '../components/Card.astro';
---

<Layout title="villadiegocode.">
	<Menu />
	<main class="m-auto w-10/12  main-layout p-3 mt-3">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col w-full justify-center items-center">
				<h2 class="text-2xl font-bold">Hola, soy Carlos Villadiego 🤙</h2>
				<img class="h-auto max-w-lg" src="src/images/coding-bro.svg" alt="image description">
				<p class="leading-5">
				<span class="font-semibold">Desarrollador Junior enfocado en Angular y PrimeNG, con experiencia en aplicaciones web reactivas y manejo avanzado de formularios y validaciones.</span>
				Con habilidades para crear interfaces dinámicas y eficientes, me especializo en código limpio y soluciones bien estructuradas. Apasionado por el aprendizaje continuo y la resolución
				de problemas, contribuyo con valor y adaptabilidad en cada proyecto.</p>
				<em class="text-sm font-italic mt-2">Actualmente vivo en <span class="text-primary">Monteria</span>, Colombia. 🇨🇴 </em>
			</div>
			<div class="flex flex-col w-full justify-center items-center gap-4">
				<Card title='Experiencias' subtitle='Dode he trabajado' href='/#' d1="M19.728 10.686c-2.38 2.256-6.153 3.381-9.875 3.381-3.722 0-7.4-1.126-9.571-3.371L0 10.437V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-7.6l-.272.286Z" d2="m.135 7.847 1.542 1.417c3.6 3.712 12.747 3.7 16.635.01L19.605 7.9A.98.98 0 0 1 20 7.652V6a2 2 0 0 0-2-2h-3V3a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v1H2a2 2 0 0 0-2 2v1.765c.047.024.092.051.135.082ZM10 10.25a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5ZM7 3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1H7V3Z"/>
				<Card title='Proyectos' subtitle='Proyectos personales' href='/#' d1="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z"/>
				<Card title='Skills' subtitle='Tecnologías para desarrollar' href='/#' d1="M13 20a1 1 0 0 1-.64-.231L7 15.3l-5.36 4.469A1 1 0 0 1 0 19V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v17a1 1 0 0 1-1 1Z"/>
			</div>
		</div>
	</main>
</Layout>

<style>
	.main-layout {
		max-width: calc(100% - 1rem);
	}
</style>
