---
import Layout from "../layouts/Layout.astro";
import CardProjects from "../components/CardProject.astro";

---
<Layout title="Proyectos">
    <main class="m-auto lg:w-11/12  main-layout p-3 mt-3 mb-7">
        <div class="flex w-full justify-center items-center mx-4">
            <h2 class="font-bold text-4xl">Mis Proyectos</h2>
        </div>
        <div class="flex w-full justify-center items-center">
            <div class="flex w-4/5 justify-center items-center mt-4">
                <p class="text-center"><span class="font-bold text-xl text-primary">L</span>es comparto una lista de mis principales proyectos, en donde quiero mostrarles como aplico mis habilidades.
                    Cada proyecto destaca diferentes áreas de mi experiencia, desde el desarrollo de interfaces intuitivas hasta la integración con APIs.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            <div class="flex flex-col w-full justify-center items-center mt-5">
                <CardProjects subtitle="Proyecto web con autenticacíon para el control de los gastos personales"
                              title="GastoGuard"
                              linkRepo="https://github.com/villadiegocode/gasto-guard"
                              linkDeploy="https://gastoguard-staging.netlify.app/"
                              iconOne="angular"
                              iconTwo="firebase"
                              iconThree="primeNG"
                              />
            </div>
            <div class="flex flex-col w-full justify-center items-center mt-5">
                <CardProjects subtitle="Proyecto web donde se consumió un API púplica de películas"
                              title="TodoPelisXD"
                              linkRepo="https://github.com/cvilladiego/app-peliculas"
                              linkDeploy="https://app-peliculas-e2783.firebaseapp.com/"
                              iconOne="html"
                              iconTwo="js"
                              iconThree="css"
                              /> 
            </div>
            <div class="flex flex-col w-full justify-center items-center mt-5">
                <CardProjects subtitle="Proyecto web con los personajes de esta serie, incluye paginación y consumo de API"
                              title="The Rick and Morty"
                              linkRepo="https://github.com/cvilladiego/web-api-rick-angular"
                              linkDeploy="https://rickandmortywebpage.netlify.app/"
                              iconOne="angular"
                              iconTwo="api"
                              iconThree="css"
                              />
                
            </div>
        </div>
    </main>

</Layout>

<style>
	.main-layout {
		max-width: calc(100% - 1rem);
	}
</style>
