<div class="flex justify-between items-center w-full h-auto gap-2 py-2">
    <h1 class="text-2xl font-bold">villadiegocode</h1>
    <div class="flex w-full justify-end items-center">
    
        <button
        type="button"
        class="text-white bg-[#a04747] hover:bg-[#8f3f3f]/100 focus:ring-4 focus:outline-none focus:ring-[#8f3f3f]/80 font-bold rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#8f3f3f]/100 dark:focus:ring-[#8f3f3f]/80 me-2 mb-2">
        <svg
            aria-hidden="true"
            class="w-6 h-5 me-2 -ms-1"
            viewBox="0 0 24 24"
            fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M3 3h18a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm0 2v1.217l9 5.736 9-5.736V5H3zm18 14V8.783l-9 5.736-9-5.736V19h18z"></path>
        </svg>
        Contáctame
    </button>
    </div>
</div>
